body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.button {
  height: 12vh;
  width: 12vh;
  background-color: rgb(134, 134, 214);
  font-size: 5vh;
  color: black;
  font-weight: bolder;
}
.button:hover {
  background-color: rgb(145, 145, 197);
}

.row {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, #e8cbc0, #636fa4);
}

.board {
  text-align: center;
  margin: auto;
}
.status {
  font-size: 4vh;
  text-align: center;
}

.header {
  height: 10vh;
  text-shadow: 2px 2px 4px #bbb;
  color: black;
  box-shadow: rgb(152, 152, 212);
  font-weight: bolder;
}

.restart-btn {
  height: 5vh;
  width: 15vh;
  background-color: rgb(134, 134, 214);
  font-size: 2vh;
  color: black;
}
.restart-btn:hover {
  background-color: rgb(145, 145, 197);
}
